{% extends 'base.html.twig' %}

{% block title %}New Donation{% endblock %}

{% block body %}
    <h1>Create new Donation</h1>

    {{ include('donation/_form.html.twig') }}

    <a href="{{ path('app_donation_index') }}">back to list</a>
{% endblock %}
