{% extends 'base.html.twig' %}

{% block title %}Edit CaseView{% endblock %}

{% block body %}
    <h1>Edit CaseView</h1>

    {{ include('case_view/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_case_view_index') }}">back to list</a>

    {{ include('case_view/_delete_form.html.twig') }}
{% endblock %}
