{% extends 'base.html.twig' %}

{% block title %}New CaseEntity{% endblock %}

{% block body %}
    <h1>Create new CaseEntity</h1>

    {{ include('case_entity/_form.html.twig') }}

    <a href="{{ path('app_case_entity_index') }}">back to list</a>
{% endblock %}
