<form method="post" action="{{ path('app_audit_log_delete', {'id': audit_log.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ audit_log.id) }}">
    <button class="btn">Delete</button>
</form>
