{% extends 'base.html.twig' %}

{% block title %}Edit AuditLog{% endblock %}

{% block body %}
    <h1>Edit AuditLog</h1>

    {{ include('audit_log/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_audit_log_index') }}">back to list</a>

    {{ include('audit_log/_delete_form.html.twig') }}
{% endblock %}
