{% extends 'base.html.twig' %}

{% block title %}New AuditLog{% endblock %}

{% block body %}
    <h1>Create new AuditLog</h1>

    {{ include('audit_log/_form.html.twig') }}

    <a href="{{ path('app_audit_log_index') }}">back to list</a>
{% endblock %}
